.pos{
    position: relative;
    top: 50px;
}

.box_1{
    position: absolute;
    width: 350px;
    height: 544px;
    right: 250px;
    top: 68px;
    z-index: 4;
}

.box_2{
    position: absolute;
    width: 370px;
    height: 564px;
    right: 240px;
    top: 58px;
    z-index: 3;
}

.tree1{
    position: absolute;
    width: 450px;
    height: 598px;
    right: 155px;
    top: 14px;
    z-index: 1;
}

.tree2{
    position: absolute;
    width: 382px;
    height: 522px;
    right: 325px;
    top: 90px;
    z-index: 1;
}

.card{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 544px;
    right: 250px;
    top: 68px;
    z-index: 5;
}

.title{
    font-family: 'Cormorant', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}

.title2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #858585;
}

.text{
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.number{
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}

.btn{
    width: 179px;
    height: 40px;
    left: 471px;
    top: 6908px;
    background: linear-gradient(180deg, #1F9F8E 0%, #24B6A2 100%);
    box-shadow: 0px 15px 15px -15px #1F9F8E, 0px 2px 0px #1B8577, inset 0px -2px 8px rgba(151, 249, 236, 0.25);
    border: none;
    border-radius: 5px;
}